.awards-header {
    display: flex;
    padding: 92.20px 100px;

    .awards-header-content {
        flex-basis: 50%;
        
    }

    .awards-header-title {
        flex-basis: 50%;
        text-align: center;
    }
    
}