
.chocolates-content {
    padding: 92.20px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .chocolate-title {
        text-align: center;
    }

    .chocolate-content {
        p {
            font-size: 12px;
            line-height: 1.6rem;
        }
    }

    .col {
        flex: 50%;
    }
}