
.chocolates-content {
    padding: 92.20px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .chocolate-title {
        text-align: center;
    }

    .chocolate-content {        
        p {
            padding-top: 10px;
            font-size: 12px;
            line-height: 1.6rem;
        }

        a {
            color: #000;
            text-decoration: none;

            &:visited {
                color: #000
            }
        }

        ul {
            list-style-type: none;

            a {
                color: #000;
                text-decoration: none;

                &:visited {
                    color: #000
                }
            }

            li {
                padding: 10px 0px;
                font-size: 12px;
                position: relative;
                span {
                    position: absolute;
                    transform: translate(10px, 0px);
                    transition: transform 0.3s ease-in;
                }
            }

            li:hover {
                span {
                    transform: translate(15px, 0px);
                }
                
            }
        }
    }

    .col {
        flex: 50%;
    }
}

@media only screen and (max-width: 414px) {
    .chocolates-content {
        padding: 40px 30px;

        .chocolate-content {
            padding-top: 20px;
        }
    }
}