
.chocolates-content {
    padding: 92.20px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .chocolate-title {
        text-align: center;
    }

    .chocolate-content {        
        p {
            padding-top: 10px;
            font-size: 12px;
            line-height: 1.6rem;
        }

        a {
            color: #000;
            text-decoration: none;

            &:visited {
                color: #000
            }
        }
    }

    .col {
        flex: 50%;
    }
}

@media only screen and (max-width: 414px) {
    .chocolates-content {
        padding: 40px 30px;

        .chocolate-content {
            padding-top: 20px;
        }
    }
}