#instagram-feed {
    overflow: hidden;
    height: 900px;
    position: relative;
    cursor: pointer;
    left: 106px;

    #outer-feed {
        position: absolute;
        will-change: transform;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10%;
        left: 38%;
    }

    #inner-feed {
        background-color: white;
        background-size: auto 85%;
        background-repeat: no-repeat;
        background-position: center center;
        width: 45vh;
        max-width: 300px;
        height: 85vh;
        max-height: 570px;
        will-change: transform;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border: 10px solid white;
    }
  }

  