.pieces-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 92.20px 100px;
    flex-wrap: wrap;


    h1 {
        font-weight: normal;;
    }

    h3 {
        font-weight: normal;
        font-size: 14px;
    }

    // .col {
    //     flex: 50%;
    //     text-align: center;

        
    // }

    .pieces-title {
        flex: 40%;
        text-align: center;

        .alert-enter {
            opacity: 0;
            transform: scale(0.9);
          }
          .alert-enter-active {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 300ms, transform 300ms;
          }
          .alert-exit {
            opacity: 1;
          }
          .alert-exit-active {
            opacity: 0;
            transform: scale(0.9);
            transition: opacity 300ms, transform 300ms;
        }
    }

    .pieces-content {
        text-align: left;
        flex: 60%;

        p {
            font-size: 12px;
            line-height: 1.6rem;
        }

        .pieces {
            display: flex;
            align-items: center;
            padding: 15px 0px;
          //  animation: 1s linear 0s 1 slideInFromBottom;

            .piece-content {
                //width: 600px;
                
                h3 {
                    font-weight: bold;
                }

                p {
                    padding-top: 10px;
                    
                }
            }
        }

        // .pieces:nth-child(1) {
        //     animation-delay: 5s;
        // }
    
        // .pieces:nth-child(2) {
        //     animation-delay: 10s;
        // }

        .piece-image {
            padding-right: 40px;

            .piece-logo {
                width: 200px;
                max-height: 200px;
                overflow: hidden;
                img {
                    max-width: 100%;
                    
                }
            }
        }

        
    }
}


// @keyframes slideInFromBottom {
//     0% {
//         transform: translate(0%, 50%) scale(0.7);
//         opacity: 0;
//     }
    
//     100% {
//         transform: translate(0%, 0%) scale(1);
//         opacity: 1;
//     }
// }

@media only screen and (max-width: 1024px) {
    .pieces-wrapper {
        padding: 40px 50px;

        .pieces-title {
            flex: 100% 1;
        }

        h1 {
            padding-bottom: 40px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .pieces-wrapper {
       .pieces-content {
           .pieces {
               padding-left: 40px;
           }
       }
    }
}

@media only screen and (max-width: 414px) {
    .pieces-wrapper {
        display: block;
        .pieces-content {
            .pieces {
                display: block;

                .piece-logo {
                    max-width: 100%; 
                    /* flex: 40% 1; */
                    /* padding-right: 40px; */
                    max-height: 200px;
                    overflow: hidden;
                    position: relative;
                    // left: 50%;
                    // transform: translate(-50%);
                    margin-bottom: 35px;
                    padding-right: 0px
                }
            }
        }
     }
}